In [240]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error

import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

from scipy import stats
from yellowbrick.regressor import ResidualsPlot, PredictionError

import math

## Read in Pickle

In [241]:
cleaned_KC = pd.read_pickle('./data/cleaned_KC.pkl')

# Scale price feature through logarithmic transformations

In [242]:
cleaned_KC.price = cleaned_KC.price.map(lambda x: np.log(x))

In [243]:
# Created a new column that calculates how much square feet exists for each bedroom
cleaned_KC['sqft_living/bedroom'] = (cleaned_KC['sqft_living']/cleaned_KC['bedrooms']).round(2)

# Round the number of bathrooms to the nearest integers to reduce noise when creating dummy variables
cleaned_KC['bathrooms'] = cleaned_KC['bathrooms'].map(lambda x : np.where(x - math.floor(x) >= .5,math.ceil(x),math.floor(x))) 

# Drop all columns not relevant to our further analysis
cleaned_KC = cleaned_KC.drop(axis=1, columns=['id','date','zipcode','yr_built','grade','condition','view','floors','sqft_lot','sqft_living15','sqft_lot15'])
cleaned_KC.head()

       price  bedrooms  bathrooms  sqft_living  sqft_living/bedroom
0  12.309982         3          1         1180               393.33
1  13.195614         3          2         2570               856.67
2  12.100712         2          1          770               385.00
3  13.311329         4          3         1960               490.00
4  13.142166         3          2         1680               560.00

In [244]:
cleaned_KC.corr()['price'].sort_values(ascending=False)

price                  1.000000
sqft_living            0.681139
sqft_living/bedroom    0.568913
bathrooms              0.488029
bedrooms               0.336206
Name: price, dtype: float64

In [245]:
categorial_columns = ['bathrooms','bedrooms']
non_categorial_columns = ['price','sqft_living', 'sqft_living/bedroom']

# This replaces categorical columns with dummy variables, and drops non categorical columns
dummies_df = pd.get_dummies(cleaned_KC, columns=categorial_columns).drop(columns=['price'])
dummies_df

,sqft_living,sqft_living/bedroom,bathrooms_1,bathrooms_2,bathrooms_3,bathrooms_4,bedrooms_1,bedrooms_2,bedrooms_3,bedrooms_4,bedrooms_5,bedrooms_6
0,1180,393.33,1,0,0,0,0,0,1,0,0,0
1,2570,856.67,0,1,0,0,0,0,1,0,0,0
2,770,385.00,1,0,0,0,0,1,0,0,0,0
3,1960,490.00,0,0,1,0,0,0,0,1,0,0
4,1680,560.00,0,1,0,0,0,0,1,0,0,0
5,1715,571.67,0,1,0,0,0,0,1,0,0,0
6,1780,593.33,1,0,0,0,0,0,1,0,0,0
7,1890,630.00,0,0,1,0,0,0,1,0,0,0
8,3560,1186.67,0,0,1,0,0,0,1,0,0,0
9,1160,580.00,1,0,0,0,0,1,0,0,0,0
10,1430,476.67,1,0,0,0,0,0,1,0,0,0
11,1370,456.67,0,1,0,0,0,0,1,0,0,0
12,1810,362.00,0,1,0,0,0,0,0,0,1,0
13,2950,737.50,0,0,1,0,0,0,0,1,0,0
14,1890,630.00,0,1,0,0,0,0,1,0,0,0
15,1600,400.00,1,0,0,0,0,0,0,1,0,0
16,1200,600.00,1,0,0,0,0,1,0,0,0,0
17,1250,416.67,1,0,0,0,0,0,1,0,0,0
18,1620,405.00,0,1,0,0,0,0,0,1,0,0
19,3050,1016.67,0,0,1,0,0,0,1,0,0,0
20,2270,454.00,0,0,1,0,0,0,0,0,1,0
21,1070,535.00,0,1,0,0,0,1,0,0,0,0
22,2450,816.67,0,1,0,0,0,0,1,0,0,0
23,1710,570.00,0,1,0,0,0,0,1,0,0,0
24,2450,816.67,0,1,0,0,0,0,1,0,0,0
25,1400,466.67,1,0,0,0,0,0,1,0,0,0
26,1520,506.67,0,1,0,0,0,0,1,0,0,0
27,2570,642.50,0,0,1,0,0,0,0,1,0,0
28,2320,773.33,0,0,1,0,0,0,1,0,0,0
29,1190,595.00,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
21318,1500,500.00,0,1,0,0,0,0,1,0,0,0
21319,710,355.00,1,0,0,0,0,1,0,0,0,0
21320,1260,420.00,0,0,1,0,0,0,1,0,0,0
21321,1870,623.33,0,0,1,0,0,0,1,0,0,0
21322,1430,715.00,0,0,1,0,0,1,0,0,0,0
21323,1520,506.67,0,0,1,0,0,0,1,0,0,0
21324,1210,605.00,0,1,0,0,0,1,0,0,0,0
21325,2540,846.67,0,0,1,0,0,0,1,0,0,0
21326,4910,1227.50,0,0,0,1,0,0,0,1,0,0
21327,2770,692.50,0,0,1,0,0,0,0,1,0,0
21328,1190,396.67,0,1,0,0,0,0,1,0,0,0
21329,4170,834.00,0,0,0,1,0,0,0,0,1,0
21330,2500,625.00,0,0,1,0,0,0,0,1,0,0
21331,1530,765.00,0,1,0,0,0,1,0,0,0,0
21332,3600,720.00,0,0,1,0,0,0,0,0,1,0
21333,3410,852.50,0,0,1,0,0,0,0,1,0,0
21334,3118,779.50,0,0,1,0,0,0,0,1,0,0
21335,3990,997.50,0,0,1,0,0,0,0,1,0,0
21336,4470,894.00,0,0,0,1,0,0,0,0,1,0
21337,1425,475.00,0,0,1,0,0,0,1,0,0,0
21338,1500,500.00,0,1,0,0,0,0,1,0,0,0
21339,2270,756.67,0,0,1,0,0,0,1,0,0,0
21340,1490,496.67,0,1,0,0,0,0,1,0,0,0
21341,3510,877.50,0,0,0,1,0,0,0,1,0,0
21342,1310,436.67,0,0,1,0,0,0,1,0,0,0
21343,1530,510.00,0,0,1,0,0,0,1,0,0,0
21344,2310,577.50,0,0,1,0,0,0,0,1,0,0
21345,1020,510.00,1,0,0,0,0,1,0,0,0,0
21346,1600,533.33,0,0,1,0,0,0,1,0,0,0
21347,1020,510.00,1,0,0,0,0,1,0,0,0,0

We are going to run a for loop through each feature to run a multiple regression tests and compare rsquared values

In [246]:
for column in dummies_df.columns:


    # This sets X to a dataframe consisting of columns with dummy variables & without extra columnsmap
    X = dummies_df[column].values.reshape(-1, 1)

    # this simply sets y to the price column of the dataframe
    y = cleaned_KC['price'].values.reshape(-1, 1)

    # Creates a Linear Regression object
    lin_reg = LinearRegression()

    # Train the Regression object to fit a line with train data
    lin_reg.fit(X, y)

    # using that line, predict y values against x_test values.
    y_pred = lin_reg.predict(X)

    # Use sklearn.metrics.r2_score to determine r-squared based on y_test values and y_pred values.
    r_squared = r2_score(y, y_pred).round(3)
    print('r-squared value for {}: {}'.format(column,r_squared))

r-squared value for sqft_living: 0.464
r-squared value for sqft_living/bedroom: 0.324
r-squared value for bathrooms_1: 0.121
r-squared value for bathrooms_2: 0.016
r-squared value for bathrooms_3: 0.07
r-squared value for bathrooms_4: 0.1
r-squared value for bedrooms_1: 0.008
r-squared value for bedrooms_2: 0.032
r-squared value for bedrooms_3: 0.033
r-squared value for bedrooms_4: 0.055
r-squared value for bedrooms_5: 0.027
r-squared value for bedrooms_6: 0.004

Having 2 bathrooms is the least predictive compared to the other amount of bathrooms

In [247]:
# This sets X to a dataframe consisting of columns with dummy variables & without extra columnsmap
X = dummies_df

# this simply sets y to the price column of the dataframe
y = cleaned_KC['price']

# This runs a train/test split with .20 of the data. 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=40)

### Calculate OLS

# Simply adding a y-intercept column.
X2 = sm.add_constant(X_train)

# Run an Ordinary Least Squares model using the array of y values, and the dataframe of x_train values and fit a line to it. 
est = sm.OLS(y_train, X2).fit()
print(est.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.476
Model:                            OLS   Adj. R-squared:                  0.475
Method:                 Least Squares   F-statistic:                     1545.
Date:                Tue, 01 Oct 2019   Prob (F-statistic):               0.00
Time:                        17:50:53   Log-Likelihood:                -7296.4
No. Observations:               17040   AIC:                         1.461e+04
Df Residuals:                   17029   BIC:                         1.470e+04
Df Model:                          10
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                   8.5876      0.010    864.598      0.000       8.568       8.607
sqft_living             0.0003    1.6e-05     20.265      0.000       0.000       0.000
sqft_living/bedroom     0.0003   5.23e-05      6.311      0.000       0.000       0.000
bathrooms_1             2.0823      0.007    287.362      0.000       2.068       2.097
bathrooms_2             2.1414      0.005    398.440      0.000       2.131       2.152
bathrooms_3             2.1324      0.006    350.004      0.000       2.120       2.144
bathrooms_4             2.2314      0.013    170.215      0.000       2.206       2.257
bedrooms_1              1.2981      0.041     31.392      0.000       1.217       1.379
bedrooms_2              1.4972      0.016     95.528      0.000       1.466       1.528
bedrooms_3              1.4348      0.008    186.370      0.000       1.420       1.450
bedrooms_4              1.4559      0.011    127.964      0.000       1.434       1.478
bedrooms_5              1.4558      0.020     73.508      0.000       1.417       1.495
bedrooms_6              1.4458      0.034     43.042      0.000       1.380       1.512
==============================================================================
Omnibus:                       28.951   Durbin-Watson:                   1.992
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               26.339
Skew:                           0.059   Prob(JB):                     1.91e-06
Kurtosis:                       2.848   Cond. No.                     2.35e+19
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.65e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/Users/jbenjamin/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)